Spark/target/
Spark/project/target
metastore_db/
metastore/
*.class
*.iml
*.ipr
*.iws
.DS_Store
Spark/derby.log

## Directory-based project format:
.idea/
# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/
